torch>=2.5.1
numpy>=1.26.4
pandas>=2.2.3
scikit-learn>=1.6.0
matplotlib>=3.7.3
sentence-transformers>=3.3.1
datasets>=2.21.0
tqdm>=4.67.1
transformers>=4.47.1
gradio>=5.14.0
transformer-lens>=2.11.0
tiktoken>=0.8.0
seaborn>=0.11.0
mteb>=1.26.3

